app.R
Meta
doc
inst/doc
.Rproj.user
.Rhistory
.RData
.Ruserdata
rsconnect/
vignettes/*.R
docs/rsconnect
inst/docs/rsconnect
rsconnect
renv/
rstudio_prefs
!inst/renv

!.gitlab/*/*
docs/
.DS_Store
.Rdata
.httr-oauth
